<section id="contact" class="section contact">
  <h2><br><br>Contacts<br></h2>
  <div class="contact-links">

    <!-- Email -->
    <a href="mailto:salomerabec@aliceadsl.fr">
      <img src="{{ '/assets/img/mail.svg' | relative_url }}" alt="Email" id="mail">
    </a>

    <!-- LinkedIn (externe) -->
    <a href="https://www.linkedin.com/in/salomerabec/" target="_blank" rel="noopener noreferrer">
      <img src="{{ '/assets/img/link.svg' | relative_url }}" alt="Lien LinkedIn" id="link">
    </a>

    <!-- GitHub (externe) -->
    <a href="https://github.com/salomerabec" target="_blank" rel="noopener noreferrer">
      <img src="{{ '/assets/img/git.svg' | relative_url }}" alt="Lien GitHub" id="git">
    </a>

  </div>
  <br><br><br>
</section>
