<!-- HEADER MOBILE -->
<header class="mobile-header">
  <button id="menu-btn" aria-label="Ouvrir le menu">☰</button>
  <span class="logo">Menu</span>
</header>

<!-- MENU MOBILE -->
<nav id="mobile-menu" aria-hidden="true">
  <ul>
    <li><a href="{{ '/index.html' | relative_url }}">Mon parcours</a></li>
    <li><a href="{{ '/projet.html' | relative_url }}">Mes projets</a></li>
    <li><a href="{{ '/contact.html' | relative_url }}">Contacts</a></li>
  </ul>
</nav>

<div id="overlay"></div>

<!-- MENU PC -->
<nav>
  <a href="{{ '/index.html' | relative_url }}">Mon parcours</a>
  <a href="{{ '/projet.html' | relative_url }}">Mes projets</a>
  <a href="{{ '/contact.html' | relative_url }}">Contacts</a>

</nav>

  <!-- BOUTON MODE NUIT -->

<button id="modeNuitButton">
  <img src="{{ '/assets/img/moon.svg' | relative_url }}" alt="Mode nuit" id="luneIconDesktop">
  <img src="{{ '/assets/img/moon2.svg' | relative_url }}" alt="Mode nuit" id="luneIconMobile">
  <img src="{{ '/assets/img/sun.svg' | relative_url }}" alt="Mode jour" id="soleilIcon">
</button>

