

  <section id="projets" class="section projets">




    <h2><br><br>
      Mes Projets
      <br><br>
    </h2>


    <!-- Barre de recherche -->
    <input type="text" id="searchBar" placeholder="Rechercher un projet..." />

    <!-- Menu déroulant pour filtrer par tags -->
    <select id="filterTags" aria-label="Filtrer par catégorie">
      <option value="all">Tous</option>
      <option value="web">Web</option>
      <option value="Data">Data</option>
      <option value="crypto">Cryptographie</option>
    </select>

            <!-- Grille des projets -->
                   <div id="projectsGrid" class="grid">

<a href="{{ '/posts/site.html' | relative_url }}" class="project" data-tags="Web" role="button" tabindex="0"
   onkeydown="if(event.key === 'Enter' || event.key === ' ') openLightbox(this)">

  <h3>Création de ce site</h3>
  <p>Premier projet web 🌐</p>

</a>

<a href="{{ '/posts/accessibilite.html' | relative_url }}" class="project" data-tags="Web Handicap" role="button" tabindex="0"
   onkeydown="if(event.key === 'Enter' || event.key === ' ') openLightbox(this)">

  <h3>Accessibilité du site</h3>
  <p>Projet web basé sur le RGAA ♿️</p>

</a>

<a href="{{ '/posts/jishotoanki.html' | relative_url }}" class="project" data-tags="Web" role="button" tabindex="0"
   onkeydown="if(event.key === 'Enter' || event.key === ' ') openLightbox(this)">

  <h3>Jisho to Anki</h3>
  <p>Une extension Firefox de dictionnaire 🇯🇵</p>

</a>

<a href="{{ '/posts/renneslogements.html' | relative_url }}" class="project" data-tags="Data" role="button" tabindex="0"
   onkeydown="if(event.key === 'Enter' || event.key === ' ') openLightbox(this)">

  <h3>Étude statistique 📊</h3>
  <p>Dynamique logements-population à Rennes</p>

</a>

            </div>

    <div id="noResults" style="font-style: italic;display:none; margin-top:20px; font-size:20px;">
      <br><br>
  Projets à venir... ⏳
  <br><br><br><br>
  </div>
   
            
    <br><br><br>
  </section>
