<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title }}</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">

  <!-- CSS global -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/carousel.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/article.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/index.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/contact.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/amenagements.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/projet.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/nav.css' | relative_url }}"> 
  <link rel="stylesheet" href="{{ '/assets/css/modenuit.css' | relative_url }}"> 
  <link rel="stylesheet" href="{{ '/assets/css/lightbox.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/footer.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/contactbaspage.css' | relative_url }}">


  <!-- JS global -->
  <script src="{{ '/assets/js/nuit.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/nav.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/navtel.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/recherche.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/carousel.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/lightbox.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/contact.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/index.js' | relative_url }}"></script>


  <!-- Favicons -->
  <link rel="icon" href="{{ '/assets/img/favicon.ico' | relative_url }}" type="image/x-icon">
  <link rel="icon" type="image/png" href="{{ '/assets/img/favicon.png' | relative_url }}">
  <link rel="icon" type="image/svg+xml" href="{{ '/assets/img/favicon.svg' | relative_url }}">
</head>

<body>

  {% include header.html %}

  <main>
    {{ content }}
  </main>

  {% include projets.html %}

  {% include contact.html %}

  {% include footer.html %}

</body>
</html>
